<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add lesson</title>
</head>
<body>
add lesson <br>
<form action="/lessons/add" method="post">
    title: <input type="text" name="title"><br>
    duration : <input type="date" name="duration"><br>
    price: <input type="number" name="price"><br>
    start_date: <input type="date" name="startDate"><br>
    <input type="hidden" th:value="null" name="teacher_id">
    <input type="submit" value="add">
</form>
</body>
</html>