<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addstudent</title>
</head>
<body>
<form action="/students/add" method="post" enctype="multipart/form-data">
    name:<input type="text" name=" name"><br>
    surname:<input type=" text" name="surname"><br>
    email:<input type="text" name=" email"><br>
    <input type="hidden"th:value="STUDENT" name="userType"><br>
    <select name="lesson.id">
        <option th:each="lesson:${lessons}" th:text="${lesson.title}" th:value="${lesson.id}"></option>
    </select><br>
    <input type="file" name="picture"><br>
    <input type="submit"><br>


</form>

</body>
</html>